<!--********************************************************************************
 * Created By: Muhammad Asim Baig
 * This ionic listing.html page  creates "View" for its corresponding 
 * controller (listing.ts) and angular 4 providing values of variables by two 
 * way data binding. This page contains ionic html components supported by angular 
 ************************************************************************************-->
<ion-header [ngClass]="colorThemeHeader">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
     CIVITAZ
    </ion-title>
    <ion-buttons end>
      <button ion-button>{{companyName}}</button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="colorTheme">
  <div ngClass="main-div">
  <preload-image style="border-radius: 5%;" [ratio]="{w:0, h:0}" class="image-heading" [src]="companyLogo"></preload-image>
 
  <h3 ngClass="h3-heading">BROWSE CATEGORIES</h3>
  
  <ion-row>
    <ion-col *ngFor="let category of categories">
      <div>
      <background-image tappable style="height:150px; width:150px;" [src]="category.image" (click)="goToStoryOrArticle(category)">
       
      </background-image>
      <h2 ngClass="h2-heading">{{category.title}}</h2>
      </div>
    </ion-col>
  </ion-row>

  <h3 ngClass="h3-heading">CHARITABLE THEMES</h3>
  <ion-list>
    <div *ngFor="let group of groups">
      
      <ion-item text-wrap>
        <ion-row>
          <ion-col col-8 style="text-align: left;">  
              <span (click)="toggleGroup(group)">
                  
                    <ion-icon name= "{{isGroupShown(group) ? 'arrow-up' : 'arrow-down'}}"></ion-icon>
                </span>
              &nbsp;
              <p style="color:#f4344f;"  [hidden]="group.status">{{group.name}}</p>
              <p style="color:#32db64;"  [hidden]="!group.status">{{group.name}}</p>
              
          </ion-col>
          <ion-col col-4>
            <ion-buttons end [hidden]="roleStatus">      
                <button ion-button clear small color="danger" (click)="doJoinTheme(group.name)" [hidden]="group.status">
                  <ion-icon name= "add"></ion-icon>
                </button>
                <button ion-button clear small color="secondary" (click)="doLeaveTheme(group.name)" [hidden]="!group.status">
                  <ion-icon name= "close"></ion-icon>
                </button>
          </ion-buttons>
          </ion-col>
      </ion-row>
      </ion-item>
      <ion-item
            *ngFor="let item of group.areas"
            [hidden] ="!isGroupShown(group)" text-wrap>
        Area {{item}}
      </ion-item>
    </div>
  </ion-list>

</div>
</ion-content>
