/* @mixin categories-title-style($color){
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 8vw;
	font-weight: 900;
	letter-spacing: 0.4px;
//	color: $color;
	margin: 0px;
}
ion-avatar {
	flex: 0 0 16%;
	max-width: 16%;
	margin: 0px;
	align-self: flex-start;
	margin: 0 16px 0 0!important;
	
	.user-image
	{
		border-radius: 50%;
	}
} */
listing-page {
	
	/* ion-content{
		ion-list{
			//background-color: $white-a;
			ion-item{
				font-family: 'Times New Roman';
				//background-color: $white-a;
				ion-row{
					ion-col{
						background-color: $white-a;	
						font-family: 'Times New Roman';
					}
				}
			}
		}
		div{
			//background-color: $white-a;
			
		}

	}
	.image-heading
	{
		height: 200px;//$categories-heading-image-height;
	}
	.main-div{
		padding: 10px;
	}	
	.h3-heading
	{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.7px;
		color: $white-d;
		font-family: 'Times New Roman';
	}
	.h2-heading
	{
		//display: inline-block;
		//width: 100%;
		text-align: center;
		//font-size: 100%;
		font-weight: 900;
		letter-spacing: 0.4px;
		color: $black;
		margin: 0px;	
		font-family: 'Times New Roman';
	} */

/* 	$categories-heading-image-height: 150px;
	$categories-grid-padding: 10px;
	$categories-horizontal-list-padding: 10px;
	.listing-content
	{
		  

/* 		.categories-title
		{
			font-size: 1.2rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		} 
		.grid-categories
		{
			background: none;
			padding: 0px ($categories-grid-padding/2);
			flex-wrap: wrap;

			.category-item
			{
				padding: 0px ($categories-grid-padding/2) $categories-grid-padding;

				.category-heading
				{
					padding-bottom: 100%;

					.bg-overlay
					{
						z-index: 1;
						background-color: rgba($black-c, .6);
					}

					ion-spinner {
						z-index: 2;
					}

		//			@include spinner-color($white);

					.heading-row
					{
						height: 100%;
						width: 100%;
						z-index: 3;
		  				position: absolute;
						align-items: center;

						.category-title
						{
							@include categories-title-style($white);
						}
					}
				}
			}
		}
	} */

	/* .list .item.item-accordion {
		margin-bottom: 3px;
		border: 2px solid white;
    	border-radius: 12px;

		font-size: 1.5rem;
		font-weight: 400;
		letter-spacing: 0.7px;
		color: $white;

		}
		.list .item.item-accordion-title {
			margin-bottom: 1px;
			border: 2px solid white;
			border-radius: 12px;
	
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: white;
			//background-color: color($colors, button-alt, base);
			
		}

	  .list .item.item-accordion.ng-hide {
		line-height: 0px;
	  }
	  .list .item.item-accordion.ng-hide-add,
	  .list .item.item-accordion.ng-hide-remove {
		display: block !important;
	  } */
}
