.app-color-theme-1
{
	padding: 10px;
	background-color: color($colors,primary, base);
	ion-input, ion-textarea,p,ion-card-content,ion-card,ion-radio {
		font-family: 'Times New Roman';
		color: $white;
	}
	ion-list,ion-item-sliding,ion-item,ion-label{
		background-color : color($colors,light-blue, base);
		color: $white;
		font-family: 'Times New Roman';
	}
	.personal-btn
	{
						margin: 0px;
						border-radius: 6px;
						background-color: color($colors, button-alt, base);
						color: color($colors, button-alt, contrast);
						font-weight: 500;
						font-family: 'Times New Roman';
	}

	.scroll-content
	{
		padding: 10px;
	}

}

.tabs-nav1{	
	
	.tabbar
	{
		background: color($colors, tabs-navigation-1, base) !important;
		.tab-button
		{
			color: color($colors, tabs-navigation-1, contrast);
			font-family: 'Times New Roman';
			
			.tab-button-icon
			{
				color: color($colors, tabs-navigation-1, contrast);
				
			}
		}

		.tab-button:hover:not(.disable-hover),
		.tab-button[aria-selected=true]
		{
		  color: $theme-color-1;
		  font-family: 'Times New Roman';		
			.tab-button-icon
			{
				color: $theme-color-1;
			}
		}
	}
}




/* @import "./auth.ios";
@import "./auth.wp";
 */