<!--********************************************************************************
 * Created By: Muhammad Asim Baig
 * This ionic login.html page  creates "View" for its corresponding 
 * controller (login.ts) and angular 4 providing values of variables by two 
 * way data binding. This page contains ionic html components supported by angular 
 ************************************************************************************-->
<ion-header [ngClass]="colorThemeHeader">
  <ion-navbar>
    <ion-title>SIGN IN</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="colorTheme">
  <div ngClass="main-div">
  <form [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-list>
    <ion-item>
        <ion-label  floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="login.get('email').hasError(validation.type) && (login.get('email').dirty || login.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    

    <show-hide-container>
      <ion-item>
          <ion-label  floating>Password</ion-label>
        <ion-input type="password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="login.get('password').hasError(validation.type) && (login.get('password').dirty || login.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </show-hide-container>
  </ion-list>
    <button ion-button block ngClass="main-btn" type="submit" [disabled]="!login.valid">LOG IN</button>
  </form>
<!--   <ion-row class="alt-options">
    <ion-col no-padding width-50>
      
      
    </ion-col>
    
  </ion-row> -->
  <ion-row>
      <ion-col center>
          <span style="color: rgb(114, 114, 236);" (click)="goToForgotPassword()">FORGOT PASSWORD?</span>
     </ion-col>
    </ion-row>
  
  </div>
</ion-content>
