<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>SIGN IN</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item>
        <ion-label  floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="login.get('email').hasError(validation.type) && (login.get('email').dirty || login.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <show-hide-container>
      <ion-item>
          <ion-label  floating>Password</ion-label>
        <ion-input type="password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div class="error-message" *ngIf="login.get('password').hasError(validation.type) && (login.get('password').dirty || login.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </show-hide-container>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">LOG_IN</button>
  </form>
  <ion-row class="alt-options">
    <ion-col no-padding width-50>
      <button ion-button block clear class="forgot-button" (click)="goToForgotPassword()">FORGOT PASSWORD?</button>
    </ion-col>
    
  </ion-row>

</ion-content>
