.auth-header
{
	@include header-styles(color($colors, header, base), color($colors, header, contrast));
}

.auth-content
{
	padding: 10px;
	background-color: color($colors,primary, base);
	ion-input, ion-textarea,p,ion-card-content,ion-card,ion-radio {
		//background-color : color($colors,light-blue, base); 
		//font-family: 'Calibri';
		font-family: 'Times New Roman';
		color: $white;
/* 		$label-md-text-color:$white;
		$label-md-text-color-focused:$white;
		$text-input-placeholder-color:$white; */
	}
	ion-list,ion-item-sliding,ion-item,ion-label{
		background-color : color($colors,light-blue, base);
		color: $white;
		font-family: 'Times New Roman';
/* 		$label-md-text-color:$white;
		$label-md-text-color-focused:$white;
		$text-input-placeholder-color:$white; */
	}
	.personal-btn
	{
						margin: 0px;
						border-radius: 6px;
						background-color: color($colors, button-alt, base);
						color: color($colors, button-alt, contrast);
						font-weight: 500;
						font-family: 'Times New Roman';
	}

	.scroll-content
	{
		padding: 10px;
	}

	/* .auth-title
	{
		//color: $theme-color-2;
		margin-top: 10px;
		margin-bottom: 25px;
	} */

	/* .auth-form
	{
		ion-item {
			//@include basic-input-style(color($colors,whit, base), $theme-color-3, $white);

			&.item
			{
				input[type="password"].text-input
				{
					padding-right: 6rem;
				}
			}
		}

		.auth-action-button
		{
			margin: 0px;
			margin-top: 20px;

			//@include call-to-action-button-styles(color($colors, button, base), color($colors, button, contrast));
		}

		.show-hide-password
		{
			.type-toggle
			{
				//color: $white-d;
				margin: 0px;
				padding: 0px 6px;
				text-align: right;
			}
		}
	}

	.auth-divider
	{
		font-size: 1.6rem;
		//color: $white;
		margin: 20px 0px;
		text-align: center;
	} */
}

.tabs-nav1{	
	
	.tabbar
	{
		background: color($colors, tabs-navigation, base) !important;
		//border-top-color: darken(color($colors, tabs-navigation, base), 6%) !important;

		.tab-button
		{
			color: color($colors, tabs-navigation, contrast);
			font-family: 'Times New Roman';
			
			.tab-button-icon
			{
				color: color($colors, tabs-navigation, contrast);
				
			}
		}

		.tab-button:hover:not(.disable-hover),
		.tab-button[aria-selected=true]
		{
		  color: $theme-color-1;
		  font-family: 'Times New Roman';		
			.tab-button-icon
			{
				color: $theme-color-1;
			}
		}
	}
}
.tabs-nav2{	
	.tabbar
	{
		background: color($colors, tabs-navigation, base) !important;
		//border-top-color: darken(color($colors, tabs-navigation, base), 6%) !important;

		.tab-button
		{
			color: color($colors, tabs-navigation, contrast);

			.tab-button-icon
			{
				color: color($colors, tabs-navigation, contrast);
			}
		}

		.tab-button:hover:not(.disable-hover),
		.tab-button[aria-selected=true]
		{
		  color: $white;

			.tab-button-icon
			{
				color: $white;
			}
		}
	}
}

ion-menu {
	.menu-content
	{
		//background-color: color($colors, background-menu2, base);
		background-image: url('../../assets/images/businessLogo.png');
		background-repeat: no-repeat;
		background-size: 60%;
	}

	.menu-list
	{
		margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background-menu, base);
			padding-right: 32px;

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $theme-color-3;
			}

			.item-icon
			{
				color: $theme-color-2;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-1;
  			transition-duration: 0ms;

				.item-inner
				{
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}

@import "./auth.ios";
@import "./auth.wp";
