<!--********************************************************************************
 * Created By: Muhammad Asim Baig
 * This ionic forgot-password.html page  creates "View" for its corresponding 
 * controller (forgot-password.ts) and angular 4 providing values of variables by two 
 * way data binding. This page contains ionic html components supported by angular 
 ************************************************************************************-->
<ion-header [ngClass]="colorThemeHeader">
  <ion-navbar>
    <ion-title>FORGOT PASSWORD?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="colorTheme">
  <div ngClass="main-div">
  <h3 class="h3-heading">RECOVER YOUR PASSWORD</h3>
  
  <form [formGroup]="forgot_password" (ngSubmit)="recoverPassword()">
    <ion-list>
    <ion-item>
      <ion-label  floating>Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
   <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div class="error-message" *ngIf="forgot_password.get('email').hasError(validation.type) && (forgot_password.get('email').dirty || forgot_password.get('email').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div> 
    </ion-list>  
    <button ion-button block ngClass="main-btn" type="submit" [disabled]="!forgot_password.valid">Reset password</button>
  </form>
  </div>
</ion-content>
