page-join-activity {
	/* ion-content{
		
		ion-row{
			background-color: $white-a;
			ion-col{
				text-align: center;
			}
		}
		ion-list{
			//background-color: $white-a;
			ion-item{
				
				ion-label{
					background-color: $white-a;	
				}
				ion-radio{
					//background-color: $white-a;	
				}
			}
		}
	}
	ion-card{
		//color: red;
		ion-card-content{
			background-color:$white-a;
			font-family: 'Times New Roman';
			//color: $whit;	
			ion-card-title{
			//	color:$white-d;
			}
		}
	}
	.h3-heading
	{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.7px;
		color: $white-d;
		font-family: 'Times New Roman';
	}
	.main-btn
	{
						margin: 0px;
						border-radius: 6px;
						background-color: color($colors, primary, base);
						color: color($colors, button-alt, contrast);
						font-weight: 500;
						font-family: 'Times New Roman';
	} */
    /* ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	} */

	/* ion-item-divider {
		padding: 15px !important;
		//background-color: transparent !important;

		.item-inner
		{
			min-height: 0px;

			ion-label {
				margin: 0px;
				font-size: 1.2rem;
				font-weight: 500;
				letter-spacing: 0.9px;
				color: $theme-color-3;
			}
		}
    } */
    /* .radio-group
	{
		//padding-left: 15px;
		background-color: none;
		//color: $theme-color-3;
		@include element-shadow();

		@include radio-item-styles($white-d, $white-a, $theme-color-2);
		.radio-item{
			background-color: none;
		}

	} */
 	/* .news-item
		{
			//@include basic-card-styles($white-d);

			.news-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				//color: $theme-color-2;
			}
		} */ 
}
