page-join-activity {
	.details-list
		{
			margin: 0px 16px 24px;

			ion-item {
				background: transparent;
				padding: 0px;
				border: none !important;

				ion-avatar {
					margin: 5px 10px 5px 0px;
					min-width: 0px;
					min-height: 0px;
					width: 10%;
					text-align: center;

					ion-icon {
						font-size: 1.8em;
						color: rgb(99, 191, 228);
					}
				}

				.item-inner
				{
					padding: 22px 0px;
					border-bottom: 0.55px solid rgba($white-d, .6) !important;

					ion-label {
						margin: 0px;
						overflow: visible;
						white-space: normal;
					}
				}
			}

			.detail-item
			{	
				
				.detail-text
				{
					color: $white-d;
					font-size: 1.4rem;
					display: block;
					margin-left: 8px;
				}
			}
		}

}
