profile-page {
	
	.activities-title
		{
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		} 
	.profile-title
		{
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			//margin-left: 40px;
			//margin: 8px 16px 16px 30px;
		}	
	.profile-content
	{
		//background-color: color($colors, background, base);

		.user-details
		{
			@include element-shadow();
			//padding-bottom: 4%;
			//background-color: $white;

			.user-main-data-row
			{
				padding: 4% 4% 0px;
				align-items: center;

				.user-image
				{
					border-radius: 50%;
				}

				.profile-action-row
				{
					padding: 5px 0px 0px 10px;

					.button
					{
						margin: 0px;
						border-radius: 6px;
						//background-color: color($colors, button-alt, base);
						//color: color($colors, button-alt, contrast);
						font-weight: 500;
					}
				}

			}

		}


	}

}
