profile-page {
    .button-bar
		{
			display: flex;
			margin: 6px 0px;
            background-color: $white-a;

			& > .button
			{
				background-color: color($colors, $white-a, contrast);
				margin: 0px;
				border-radius: 0px;
                flex: 1;
                color: $white-d;

				&::after
				{
					content: '';
					width: 2px;
					height: calc(100% - 20px);
					margin: 10px 0px;
					position: absolute;
					top: 0px;
					right: 0px;
                    opacity: 0.6;
                    color: $white-d;
				}

				&:last-child
				{
					&::after
					{
						content: initial;
					}
				}

				ion-icon {
					font-size: 2.2em;
				}
			}
		}
}
