.ion-menu-1 {
	.menu-content
	{
		//background-color: color($colors, background-menu2, base);
		/* background-image: url('../../assets/images/businessLogo.png');
		background-repeat: no-repeat;
		background-size: 60%; */
	}

	.menu-list
	{
		margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background-menu, base);
			padding-right: 32px;

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-family: 'Trebuchet MS';
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $white-a;
			}

			.item-icon
			{
				
				color: $white-a;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-1;
  			transition-duration: 0ms;

				.item-inner
				{
					font-family: 'Trebuchet MS';
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}

.ion-menu-2 {
	.menu-content
	{
		//background-color: color($colors, background-menu2, base);
		/* background-image: url('../../assets/images/businessLogo.png');
		background-repeat: no-repeat;
		background-size: 60%; */
	}

	.menu-list
	{
		margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background-menu4, base);
			padding-right: 32px;

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-family: 'Verdana';
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $theme-color-3;
			}

			.item-icon
			{
				//font-family: 'Helvetica';
				color: $white-b;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-4;
  			transition-duration: 0ms;

				.item-inner
				{
					font-family: 'Verdana';
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}

.ion-menu-3 {
	.menu-content
	{
		//background-color: color($colors, background-menu2, base);
		/* background-image: url('../../assets/images/businessLogo.png');
		background-repeat: no-repeat;
		background-size: 60%; */
	}

	.menu-list
	{
		margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background-menu6, base);
			padding-right: 32px;

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-family: 'Helvetica';
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $black-c;
			}

			.item-icon
			{
				//font-family: 'Helvetica';
				color: $white;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-6;
  			transition-duration: 0ms;

				.item-inner
				{
					font-family: 'Helvetica';
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}

.ion-menu-4 {
	.menu-content
	{
		//background-color: color($colors, background-menu2, base);
		/* background-image: url('../../assets/images/businessLogo.png');
		background-repeat: no-repeat;
		background-size: 60%; */
	}

	.menu-list
	{
		margin: 20vh 0px 0px !important;

		.item
		{
			background-color: color($colors, background-menu7, base);
			padding-right: 32px;

			&:first-child
			{
				border-top: solid 1px rgba($white-d, 0.15);
			}

			&:last-child
			{
				border-bottom: solid 1px rgba($white-d, 0.15);
			}

			.item-inner
			{
				border-bottom: 1px solid rgba($white-d, 0.15);
				font-family: 'Calibri';
				font-size: 1.8rem;
				font-weight: 300;
				letter-spacing: 1px;
				color: $theme-color-7;
			}

			.item-icon
			{
				//font-family: 'Helvetica';
				color: $theme-color-7;
				font-size: 3.4rem;
			}

			&.activated
			{
  			background-color: $theme-color-8;
  			transition-duration: 0ms;

				.item-inner
				{
					font-family: 'Calibri';
					color: $white;
				}

				.item-icon
				{
					color: $white;
				}
			}
		}
	}
}