
page-activities {
	#title{
		color: $black-d;
	}	 
	/* ion-content{
		ion-list{
			ion-item-sliding{
					ion-item{
						ion-row{
							background-color: $white-a;
							font-family: 'Times New Roman';
							ion-col{
								padding: 5px;
								white-space: initial;
							}
						}
					}
			}	
		}
	}
	.btn-details{
		background-color:#32db64;
		font-family: 'Times New Roman';
	}  */
}
