$list-big-description-font-size: 12px;
page-activities {
    /* ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	} */
	

	.button-details{
		background-color:$theme-color-2;

	}
	.button-join{

		background-color:$theme-color-1;
	}
	.button-nav{

		background-color:$white-a;
		color : $black-b;
	}
	
}
