change-password-page {
/* 	.main-div{
		padding: 10px;
	}
	ion-content{
		
		ion-row{
			
			ion-col{
				text-align: center;
			}
        }
        form{
            //background-color: $white-a;
        }
        ion-list{
            ion-item,ion-input,ion-textarea{
                //background-color: $white-a;
                font-family: 'Times New Roman';
            }
        }
	}
	.main-btn
	{
						margin: 0px;
						border-radius: 6px;
						background-color: color($colors, primary, base);
						color: color($colors, button-alt, contrast);
						font-weight: 500;
						font-family: 'Times New Roman';
	}
	.h3-heading
	{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.7px;
		color: $white-d;
		font-family: 'Times New Roman';
	} */
  /* .validation-errors
	{
	  .error-message
	  {
		color: color($colors, danger);
		font-size: 12px;
		font-weight: 500;
		line-height: 1.6rem;
		position: relative;
		padding-left: 22px;
		margin-bottom: 10px;

			&:first-child
			{
				margin-top: 10px;
			}

			&::before
			{
				font-family: "Ionicons";
				content: "\f19f";
				font-size: 16px;
				width: 16px;
				height: 16px;
				text-align: center;
				position: absolute;
				left: 0px;
			}
	  }
	} */
}
