<ion-header [ngClass]="colorThemeHeader">
    <ion-navbar>
      <ion-title>CHANGE PASSWORD</ion-title>
    </ion-navbar>
  </ion-header>

  <ion-content [ngClass]="colorTheme">

  <form class="signup-form auth-form" [formGroup]="validations_form"  (ngSubmit)="doConfirm()">
    <div formGroupName="matching_passwords">
       <show-hide-container>
        <ion-item>
          <ion-label floating>New Password</ion-label>
          <ion-input type="password" formControlName="password" show-hide-input></ion-input>
        </ion-item>
       </show-hide-container>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <show-hide-container>
        <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirm_password" show-hide-input></ion-input>
        </ion-item>
      </show-hide-container>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.confirm_password">
            <div class="error-message" *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <!-- These validations are for the form group -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.matching_passwords">
          <div class="error-message" *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
      </div>
    <button ion-button full ngClass="personal-btn" type="submit" [disabled]="!validations_form.valid">SUBMIT</button>
  </form>


  </ion-content>
