<ion-menu [content]="content" [swipeEnabled]="false" [ngClass]="menuColor">
    
  <ion-content class="menu-content">
      <!-- <preload-image style="border-radius: 15%;" [ratio]="{w:1, h:1}" [src]="menuImage" alt="this is the image" title="IMAGE!"></preload-image> -->
      <!-- <background-image [src]="menuImage">
      </background-image> -->


      <ion-list class="menu-list">
        <!-- <ion-img width="80" height="80" [src]="menuImage"></ion-img> -->
        <button ion-item detail-none *ngFor="let page of pages" (click)="openPage(page)">
        <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
        {{page.title}}
      </button>
        <button ion-item detail-none *ngFor="let page of pushPages" (click)="pushPage(page)">
          <ion-icon *ngIf="page.icon" name="{{page.icon}}" item-left></ion-icon>
          {{page.title}}
        </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipe-back-enabled="false"></ion-nav>
