//$list-big-description-font-size: 12px;
page-news {
	#title{
		color: $black-d;
	}
	/* ion-content{
		ion-list{
			ion-item-sliding{
					ion-item{
						ion-row{
							background-color: $white-a;
							font-family: 'Times New Roman';
	
							ion-col{
								
								padding: 5px;
								white-space: initial;
							}
						}
					}
			
				}	
		}
	}	
	.btn-details{
		background-color:#32db64;
		font-family: 'Times New Roman';

	} */
    /* ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	} */

	/* .list-big-content
	{

		.list-big
		{
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				.list-item
				{
					padding: 0px;
					margin: 0px;	
					.content-row
					{
						align-items: center;
					}

					.item-content
					{
						align-content: stretch;
						display: flex;
					  	flex-wrap: wrap;
					  	align-self: stretch;

						.item-title
						{
							//margin-bottom: 1px;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}

						.item-description
						{
							//@include multi-line-ellipsis($list-big-description-font-size);
						}
					}
				}
			}
		}
	} */
}
