page-news-details {
	/* ion-card{
		//color: red;
		ion-card-content{
			background-color:$white-a;
			font-family: 'Times New Roman';
			//color: $whit;	
			ion-card-title{
			//	color:$white-d;
			}
		}
	} */

    /* .news-content
	{
		//background-color: color($colors, background, base);

		.news-item
		{
			@include basic-card-styles($white-d);

			.news-title
			{
				margin: 0px;
				margin-bottom: 12px;
				padding: 0px;
				letter-spacing: 1.1px;
				color: $theme-color-2;
			}
		}
	} */
}
