page-reset-password {
    /* .main-div{
		padding: 10px;
	}
	ion-content{
	
		ion-row{
			
			ion-col{
				text-align: center;
			}
        }
        form{
            //background-color: $white-a;
        }
        ion-list{
            ion-item,ion-input,ion-textarea{
                //background-color: $white-a;
                font-family: 'Times New Roman';
            }
        }
	}
	.main-btn
	{
						margin: 0px;
						border-radius: 6px;
						background-color: color($colors, primary, base);
						color: color($colors, button-alt, contrast);
						font-weight: 500;
						font-family: 'Times New Roman';
	}
	.h3-heading
	{
		text-align: center;
		font-size: 1.6rem;
		font-weight: 500;
		letter-spacing: 0.7px;
		color: $white-d;
		font-family: 'Times New Roman';
	} */
        /* .forgot-password-content
        {
            .recover-message
            {
                color: $white-d;
                margin: 10px 0px;
            }
        } */
}
