<ion-header [ngClass]="colorThemeHeader">
  <ion-navbar>
    <ion-title>ADD USER</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="colorTheme">
  <div ngClass="main-div">
   <form [formGroup]="new_user" (ngSubmit)="doAddUser()">
    <ion-list>
    <ion-item>
        <ion-label  floating>Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="new_user.get('email').hasError(validation.type) && (new_user.get('email').dirty || new_user.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
      </div>
      </ion-list>


    <h3 ngClass="h3-heading">ROLE</h3>
      <ion-list radio-group formControlName="selected_option">
        <ion-item>
          <ion-label>Business Admin</ion-label>
          <ion-radio item-left value="BusinessAdmin"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Employee</ion-label>
          <ion-radio item-left value="Employee"></ion-radio>
        </ion-item>
      </ion-list>
    
    <button ion-button block ngClass="main-btn" type="submit" [disabled]="!new_user.valid">ADD</button>
  </form>
  </div>
</ion-content>
