page-create-activity {
    /* ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	} */
	/* .role-title
		{
			text-align: center;
			font-size: 1.5rem;
			font-weight: 400;
			letter-spacing: 0.7px;
			color: $white-d;
			margin: 8px 16px 16px;
		}
 */	ion-item-divider {
		padding: 15px !important;
		background-color: white !important;

		/* .item-inner
		{
			min-height: 0px;

			ion-label {
				margin: 0px;
				font-size: 1.2rem;
				font-weight: 500;
				letter-spacing: 0.9px;
				color: $white-d;
			}
		} */
    }
/*     .radio-group
	{
		//padding-left: 15px;
		background-color: $white;
		@include element-shadow();

		@include radio-item-styles($white-d, $white-a, $theme-color-1);
	} */

	/*  @include checkbox-tags-styles($theme-color-1,$theme-color-2,$white-a, $white-d);
 	.rounded-tags
	{
		//background-color: $white;
		padding: 15px;
		@include element-shadow();

		.checkbox-tag
		{
			
			/* .item-inner
			{
				border-radius: 2.2rem;
				background-color: $theme-color-2;
				color: $white;
			}  
		}
	}   */

	.switchers-list
	{
		//@include switcher-item-styles($white-d, $theme-color-2);

		.switcher-item
		{
			padding: 0px;

			.item-inner
			{
				padding: 0px;
				border: none;

				ion-label {
					margin-left: 15px;
				}
			}
		}
	}

	.multi-input-row
				{
					align-items: flex-end;

					ion-col {
						padding: 0px 7px;

						&:first-child{
							padding-left: 0px;
						}

						&:last-child{
							padding-right: 0px;
						}
					}

					.multi-input
					{
						margin: 0px;

						&.item-datetime.item-label-floating
						{
							ion-label {
								margin-top: 7px;
							}

							ion-datetime {
								padding-top: 0px;
							}
						}

						ion-datetime {
							padding-left: 0px;

							.datetime-text
							{
								//color: $white-d;
							}
						}
					}
				}
}
